.title-1 {
    color: var(--color-primary-blue);
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.subtitle-1 {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.1px;
    line-height: 1.8;
}

.subtitle-2 {
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 1.8;
}

.caption {
    color: var(--color-primary-blue);
    font-weight: 400;
    font-size: 12px;
}

.text-center {
    text-align: center;
}

.title-container {
    height: 65px;
    margin: 0px 15px 30px;
    border-bottom: 1px solid #cbcbfa;
}

.back-button {
    position: absolute;
    top: 30px;
    left: 25px;
}

.foward-button {
    position: fixed !important;
    right: 25px;
    bottom: 25px;
    color: white !important;
}

.stepper-container {
    width: 300px;
    margin-left: calc(50% - 150px);
    margin-right: calc(50% - 150px);
    margin-top: 50px;
    margin-bottom: 10px;
}

.yellowStepper .MuiStepIcon-root {
    color: white;
    font-weight: 700;
    font-size: 14;
}

.yellowStepper .MuiStepIcon-root.MuiStepIcon-completed {
    color: red;
}

.yellowStepper .MuiStepIcon-root.MuiStepIcon-completed path {
    fill: black;
}

.yellowStepper .MuiStepIcon-root.MuiStepIcon-active {
    color: #f2be2a !important;
}

.yellowStepper .MuiStepIcon-text {
    font-weight: 700 !important;
    fill: black !important;
}

.mb-1 {
    margin-bottom: 5px;
}

.mb-2 {
    margin-bottom: 10px;
}

.mb-3 {
    margin-bottom: 15px;
}

.mb-4 {
    margin-bottom: 20px;
}

.mb-5 {
    margin-bottom: 25px;
}

.mb-6 {
    margin-bottom: 30px;
}

.mb-7 {
    margin-bottom: 35px;
}

.mb-8 {
    margin-bottom: 40px;
}

.mb-9 {
    margin-bottom: 45px;
}

.mb-10 {
    margin-bottom: 50px;
}

.card {
    width: 250px;
}

.confirmation-card {
    max-width: 350px;
    background-color: #ceb89c;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    height: 200px;
    padding: 20px;
}
